/* basic CSS code taken from the solution file to homework 1 */

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Megrim&display=swap");

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    line-height: 34px;
    background-image: url('../images/dark.png');
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}

/* general */

.container {
    background-color: #25262A;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

h1,
h2,
h3,
p {
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 20px;
}

h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
}

h2,
h3 {
    font-size: 22px;
}

a {
    text-decoration: none !important;
}

.koi {
    background-image: url("../images/koi.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 10px;
}

nav {
    position: static;
    width: 100%;
    text-align: center;
    padding: 10px;
}

nav a {
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
    text-decoration: none;
    border: 1px 0 1px 0 solid #efefef;
}

nav a:hover {
    transform: scale(1.3);
    transition: all .5s;
    color: white;
}

#logo {
    font-family: 'Megrim', cursive;
    letter-spacing: 20px;
    color: white;
    opacity: 1;
    text-align: center;
    text-indent: 20px;
}


/* footer */

footer {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    text-align: center;
    background: black;
    height: 50px;
}

/* main */

#main-container {
    min-height: auto;
}

.main-section {
    float: left;
    width: 100%;
    padding: 30px;
    margin: 20px 0 20px;
    background: #ffffff;
    border: 1px solid #dddddd;
}

/* index page */

.index {
    padding-top: 25%;
    height: 100%;
}

.body-index {
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("../images/koi.jpg");
    width: 100%;
    height: 1000px;
    font-size: 18px;
    line-height: 34px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

#bar {
    padding: 15px;
    opacity: .9;
    background-color: black;
}

#logoIndex {
    font-family: 'Megrim', cursive;
    letter-spacing: 20px;
    color: white;
    opacity: 1;
    text-align: center;
    text-indent: 20px;
    display: none;
    margin-top: 30px;
}


/* about page */

.h1-about-me {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}

/* portfolio page */

.projects {
    width: 75%;
    float: left;
}

.work {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 20px;
    float: left;
    overflow: scroll;
    background-color: black;
}

.work:nth-child(even) {
    margin-right: 40px;
}

.work:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.work img {
    position: absolute;
    width: 100%;
    height: inherit;
    max-width: 250px;
    max-height: 250px;
}

.work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    border-bottom: 0;
    background-color: #25262A;
    opacity: .75;
}

.h1-portfolio {
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#readme {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    color: white;
    font-weight: 900;
}

#project1:hover #readme {
    opacity: 1;
}

#project2:hover #readme {
    opacity: 1;
}

#project3:hover #readme {
    opacity: 1;
}

#project4:hover #readme {
    opacity: 1;
}

#project5:hover #readme {
    opacity: 1;
}

#project6:hover #readme {
    opacity: 1;
}




/* contact page */

.h1-contact {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#contact-form ul {
    margin-bottom: 20px;
}

#contact-form li {
    margin-bottom: 10px;
    width: 100%;
}

label,
input[type=text],
input[type=email],
textarea {
    display: block;
    width: 100%;
}

input[type=text],
input[type=email],
textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #dddddd;
}

textarea {
    height: 200px;
}

input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #473b79;
    border: 0 none;
}

#submitBtn {
    float: left;
    margin-left: 25px;
}

#formDiv {
    width: 50%;
    float: left;
}

.contactLinks {
    float: right;
    width: 25%;
    text-align: right;
}

/* ===================================================================================
===================================================================================
===================================================================================
===================================================================================
===================================================================================
===================================================================================
===================================================================================
===================================================================================
=================================================================================== */

/* media queries for responsive design */

@media only screen and (max-width: 980px) {

    .header-div {
        background-color: black;
    }

    .work {
        float: left;
        width: 75%;
        height: 100px;
        margin-top: 10px;
        margin-right: 25px;
        overflow: hidden;
    }

    .work img {
        display: none;
    }

    #readme {
        display: none;
    }

    #logoIndex {
        display: block;
    }

    #divPrime {
        display: none;
        animation: none;
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        -ms-transition: none !important;
        transition: none !important;
    }

    #formDiv {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    #submitBtn {
        width: 100%;
        margin: 0;
    }

    #contactLinks {
        float: left;
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    #contactLinks a {
        font-size: 20px;
    }

    .h1-portfolio {
        margin-top: 30px;
        width: 100%;
    }



}

@media only screen and (max-width: 768px) {

    .contactLinks, .projects {
        float: left;
        width: 100%;
    }

    .work {
        width: 100%;
        height: 50px;
        background-color: black;
        bottom: 20px;
        margin-bottom: 0;
        color: white;
        text-align: center;
      
    }

    .work:nth-child(even) {
        margin-right: 0px;
    }

    .work h3 {
        color: white;
        height: 50%;
        background-color: black;
        font-weight: 300;
        line-height: 30px;
        text-align: center;
    }



    .h1-portfolio {
        font-weight: bolder;
        font-weight: 50;
        text-align: center;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
    }


    .contactLinks a {
        float: left;
        width: 100%;
        height: 50%;
        margin-top: 10px;
        margin-right: 25px;
        background-color: black;
        bottom: 20px;
        padding: 15px;
        margin-bottom: 0;
        font-weight: 300;
        line-height: 30px;
        text-align: center;
        border-bottom: 0;
        color: white;
    }


}

@media only screen and (max-width: 640px) {


    /* adjusts the margin on the masthead */
    #masthead {
        margin: 0px 0px 50px 0px;
    }

    /* the following 4 CSS declarations resize the navbar buttons to be centered under the logo */

    nav {
        position: static;
        width: 100%;
    }


    .auth-image {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .h1-about-me {
        font-size: 20px;
        font-weight: 50;
        text-align: center;
    }



    .h1-contact {
        font-size: 20px;
        font-weight: 50;
        text-align: center;
    }

    /* makes the portfolio images centered, adjusting to screen width */


    label {
        font-weight: 100;
        font-size: 12px;
    }

    p {
        font-weight: 100;
        font-size: 12px;
    }

    #logo {
        letter-spacing: 3px;
    }

    #formDiv {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

}

/* ===================================================================================
===================================================================================
===================================================================================
===================================================================================
===================================================================================
===================================================================================
===================================================================================
===================================================================================
=================================================================================== */


/* animation */

.animate {
    width: 750px;
    height: 100px;
    margin: 50px;
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    grid-column-gap: 5px;
}

.letterDiv {
    font-family: 'Megrim', cursive;
    color: white;
    opacity: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    float: left;
    height: 100px;
    position: relative;
    z-index: 1;
}

.nw {
    animation: rise 5s forwards;
    animation-timing-function: ease;
    animation-delay: 1s;

}

@keyframes rise {
    from {
        top: 0px;
        opacity: 1;
    }

    to {
        top: -75px;
        opacity: 0;
    }
}

#div1,
#div2,
#div3 {
    animation: unify1 5s forwards;
    animation-timing-function: ease;
    animation-delay: 1s;
}

@keyframes unify1 {
    from {
        left: 0px;
    }

    to {
        left: 945%;
    }
}

#div9 {
    animation: unify2 5s forwards;
    animation-timing-function: ease;
    animation-delay: 1s;
}

@keyframes unify2 {
    from {
        left: 0px;
    }

    to {
        left: 355%;
    }
}

#div21,
#div22,
#div23 {
    animation: unify3 5s forwards;
    animation-timing-function: ease;
    animation-delay: 1s;
}

@keyframes unify3 {
    from {
        right: 0px;
    }

    to {
        right: 945%;
    }
}