<!doctype html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>About | Your Name</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--taken from: https://www.w3schools.com/css/css_rwd_viewport.asp for setting viewport width to the width of the device-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

    <div class="container">

        <div class="jumbotron logo koi">
            <div id="bar">
                <a href='/'>
                    <h4 id="logo">WILDWAY</h4>
                </a>
                <div id="nav-buttons">
                    <nav>
                        <a href="/about" id="nav-about">About</a>
                        <a href="/portfolio" id="nav-portfolio">Portfolio</a>
                        <a href="/contact" id="nav-contact">Contact</a>
                    </nav>
                </div>
            </div>
        </div>

    </div>


    <div id="main-container" class="container">
        <section class="main-section">
            <h1 class="h1-about-me">About Me</h1>

            <img src="../images/moi.jpg" class="auth-image" alt="Your Name">

            <p>Welcome to my portfolio site! Here you can find <a href="/portfolio">several projects I’m particularly
                    proud of</a>. I am
                currently
                enrolled in the <a href="https://www.trilogyed.com/" target="_blank">Trilogy Coding Bootcamp</a> at the <a
                    href="https://www.extension.harvard.edu/" target="_blank">Harvard Extension School</a>, and will graduate in March
                2020. I
                worked at <a href="https://www.inresonance.com/" target="_blank">InResonance Software</a>, a company headquartered near
                my home in the Pioneer Valley, between 2016
                and
                2017. After graduating high school, I completed Division I at <a
                    href="https://www.hampshire.edu/" target="_blank">Hampshire College</a> before taking a leave
                of
                absence to travel and learn. That process is ongoing, but currently has found
                me
                driving to and from Cambridge to complete this bootcamp. Some of the most fulfilling work I’ve done in
                my
                life has
                involved programming; from senior year of high school, when I used Python to map kinematic equations for
                an honors Physics class; to my job at iR;
                to the
                work that I’ve done during the bootcamp (shown on the <a href="/portfolio">portfolio page</a>).</p>

            <p>Other important areas of my life are running and visual art. I had my first show in summer 2019.</p>

        </section>

    </div>

    <footer>
        <div class="container">
            Copyright &copy;
        </div>
    </footer>
</body>

</html>