<!doctype html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Contact | Your Name</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--taken from: https://www.w3schools.com/css/css_rwd_viewport.asp for setting viewport width to the width of the device-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../javascript/animation.js"></script>
</head>

<body>

    <div class="container">

        <div class="jumbotron logo koi">
            <div id="bar">
                <a href='index.html'>
                    <h4 id="logo">WILDWAY</h4>
                </a>
                <div id="nav-buttons">
                    <nav>
                        <a href="/about" id="nav-about">About</a>
                        <a href="/portfolio" id="nav-portfolio">Portfolio</a>
                        <a href="/contact" id="nav-contact">Contact</a>
                    </nav>
                </div>
            </div>
        </div>

    </div>

    <div id="main-container" class="container">
        <section class="main-section">
            <div id="formDiv">
                <h1 class="h1-contact">Contact</h1>

                <form id="contact-form">
                    <ul>
                        <li>
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" placeholder="name" required="required">
                        </li>
                        <li>
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" placeholder="example@gmail.com"
                                required="required">
                        </li>
                        <li>
                            <label for="message">Message</label>
                            <textarea id="message" name="message" required="required"></textarea>
                        </li>
                    </ul>
                    <br>
                    <input class="btn btn-dark" type="submit" id="submitBtn">
                </form>
            </div>

            <div id="contactLinks">
                <h1 class="h1-portfolio">Links</h1>

                <a href="https://www.linkedin.com/in/william-hathaway-731b7a190/" target="_blank">
                    <h3>LinkedIn</h3>
                </a>
                <br>

                <a href="https://github.com/willhathaway" target="_blank">
                    <h3>GitHub</h3>
                </a>
                <br>

                <a href="" target="_blank">
                    <h3>Resume PDF</h3>
                </a>
                <br>

                <a href="https://www.instagram.com/wildwayart/" target="_blank">
                    <h3>Art Portfolio</h3>
                </a>
                <br>

            </div>

        </section>

    </div>

    <footer>
        <div class="container">
            Copyright &copy;
        </div>
    </footer>
</body>

</html>