<!doctype html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Portfolio | Your Name</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--taken from: https://www.w3schools.com/css/css_rwd_viewport.asp for setting viewport width to the width of the device-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

    <div class="container">

        <div class="jumbotron logo koi">
            <div id="bar">
                <a href='index.html'>
                    <h4 id="logo">WILDWAY</h4>
                </a>
                <div id="nav-buttons">
                    <nav>
                        <a href="/about" id="nav-about">About</a>
                        <a href="/portfolio" id="nav-portfolio">Portfolio</a>
                        <a href="/contact" id="nav-contact">Contact</a>
                    </nav>
                </div>
            </div>
        </div>

    </div>

    <div id="main-container" class="container">
        <section class="main-section">
            <div class="projects">
                <h1 class="h1-portfolio">Portfolio</h1>

                <div class="work" id="project1">
                    <a href="https://willhathaway.github.io/project-2/" target="_blank">
                        <img src="/images/running.jpg" alt="hand">
                        <h3>VitX (Project 2)</h3>
                        <div id="readme">
                            <p>VitX is a streamlined exercise and nutrition tracker.</p>
                                <p>Front-end: Google authentication, jQuery, Bootstrap</p>
                                <p>Back-end: NodeJS, MySQL, SequelizeJS, ExpressJS</p>
                                <p>Contributors: Will Hathaway, Von'Erik Barren-Tucker, Eugenio Tenorio</p>
                        </div>
                    </a>
                </div>
                <div class="work" id="project2">
                    <a href="https://willhathaway.github.io/NewsProject/" target="_blank">
                        <img src="/images/chimpanzee.jpg" alt="hand">
                        <h3>News Project</h3>
                        <div id="readme">
                            <p>Cloud Compare allows users to compare how two different news sources report on a given keyword. The results of the comparison are displayed using Highcharts word cloud.</p>
                                <p>Front-end: Highcharts, Firebase authentication, jQuery, Bootstrap, News API</p>
                                <p>Contributors: Will Hathaway, Chris Cuomo, Timothy Burns, Skyler Contrado</p>
                        </div>
                    </a>
                </div>
                <div class="work" id="project3">
                    <a href="https://github.com/willhathaway/FriendFinder" target="_blank">
                        <img src="/images/dark.png" alt="hand">
                        <h3>Friend Finder</h3>
                        <div id="readme">
                            <p>Friend Finder is a mock friend-matching service in which users answer a selection of questions to find the closest match in the database.</p>
                                <p>Front-end: Javascript, Bootstrap, jQuery</p>
                                <p>Back-end: NodeJS, ExpressJS</p>
                        </div>
                    </a>
                </div>
                <div class="work" id="project4">
                    <a href="https://willhathaway.github.io/GifTastic/" target="_blank">
                        <img src="/images/giphy.png" alt="bones">
                        <h3>GifTastic</h3>
                        <div id="readme">
                            <p>GifTastic uses AJAX requests to the Giphy API to return gifs of whatever monster is selected. Users can also add their own request to the list.</p>
                                <p>Uses: Javascript, Bootstrap, jQuery</p>
                        </div>
                    </a>
                </div>
                <div class="work" id="project5">
                    <a href="https://willhathaway.github.io/TrainScheduler/" target="_blank">
                        <img src="/images/train-image.jpg" alt="elephant">
                        <h3>Train Scheduler</h3>
                        <div id="readme">
                            <p>This project uses Firebase to store and modify mock train data.</p>
                                <p>Uses: Firebase, Javascript, Bootstrap, jQuery, MomentJS</p>
                        </div>
                    </a>
                </div>
                <div class="work" id="project6">
                    <a href="https://willhathaway.github.io/TriviaGame/" target="_blank">
                        <img src="/images/trivia.jpg" alt="hand">
                        <h3>Trivia Game</h3>
                        <div id="readme">
                            <p>This is a timed Halloween-themed trivia game.</p>
                                <p>Uses: MomentJS, Javascript, Bootstrap, jQuery</p>
                        </div>
                    </a>
                </div>

            </div>



            <div class="contactLinks">

                <h1 class="h1-portfolio">Links</h1>

                <a href="https://www.linkedin.com/in/william-hathaway-731b7a190/" target="_blank">
                    <h3>LinkedIn</h3>
                </a>
                <br>

                <a href="https://github.com/willhathaway" target="_blank">
                    <h3>GitHub</h3>
                </a>
                <br>

                <a href="" target="_blank">
                    <h3>Resume PDF</h3>
                </a>
                <br>

                <a href="https://www.instagram.com/wildwayart/" target="_blank">
                    <h3>Art Portfolio</h3>
                </a>
                <br>

            </div>

        </section>

    </div>

    <footer>
        <div class="container">
            Copyright &copy;
        </div>
    </footer>
</body>

</html>